*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}





body{
    all:unset;
}




/*-------------------------------------------------------------header-------------------------------------------------------- */



#header-top {
    background-image: url(./public/img/header/fondoHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 216px;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
#logoColegio {
    width: 120px;
    cursor: pointer;
    margin-bottom: 50px;
}
.logoadmin{
    position: relative;
    width: 35px;
    height: auto;
    border-radius: 50%;
    top: -80px;
    left: 1450px;
    cursor: pointer;
}
.letraadmin{
    color: white;
    font-size: 15px;
    position: relative;
    top: -73px;
    /* left: 13px; */
    float: right;
    right: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header-bottom {
    background-color: rgb(238, 236, 236);
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    position: relative;
    top: -59px;
}
.opcion-headerbottom:hover {
    background-color: #003366;
    color: white;
}
.opcion-headerbottom {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

.a {
    text-decoration: none; /* Sin subrayado */
    color: inherit;        /* Usar el color del texto que hereda */
}

.tb-display-none {
    display:none;
}
#tb-especialidades{
    border: 2px rgb(230, 230, 230) solid;
    color: black;
    border-radius: 15px;
    margin-top: 20px;
    position: relative;
    z-index: 9999;
    background-color: #ffff;
}
#ul-opcion-headerbottom {
    display:flex;
    justify-content: center;
}
.img-especialidades {
    width: 30px;
    margin-right: 15px;
}
.tb_opc-especialidades {
    border: 2px rgb(230, 230, 230) solid;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
}
.tb_opc-especialidades:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
.tb-opcion-headerbottom-taller {
    align-self: baseline;
    padding-top: 15px;
}


/* --------------------------------------------------------login------------------------------------------- */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.modal-contenido {
    background-color: white;
    border-radius: 40px;
    width: 400px;
    height: 420px; /* Cambiado a auto para que se ajuste al contenido */
    padding: 20px;
    text-align: center;
    margin: 10% auto; /* Centrar el modal */
}
.cv-h2{
    margin-bottom: 20px;
}
.cv-h3 {
    margin-left: 50px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
}
.cv-caja {
    margin-bottom: 35px;
}
.cv-input {
    width: 290px;
    height: 28px;
    font-size: 15px;
    padding: 5px; /* Añadido padding para mejorar la apariencia */
}
.cv-button {
    background-color: #0049AC;
    color: white;
    font-size: 20px;
    border: none; /* Simplificado */
    border-radius: 6px;
    width: 250px;
    height: auto;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer; /* Cambiado para indicar que es clickeable */
}
.cv-button:hover {
    background-color: #003d8c; /* Color al pasar el ratón */
}







/* --------------------------------------------------------home------------------------------------------- */





/*css claribel vidal*/
.home-completo{
    margin-left: 60px;
    margin-right: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*sobre nosotros seccion*/
.cv_about{
    border: 2px solid #808080;
    display: inline-block; 
    height: auto;
    padding: 5px; 
    border-radius: 7px; 
    /* margin-left: 50px; */
}
.cv_about p{
    font-size: 18px;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
}
.cv_descripcion{
    text-align: left;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    /* margin-left: 50px;
    margin-right: 50px; */
}
.cv_video-container{
    text-align: right;
}
.cv-p{
    font-size: 20px;
    /* text-align: justify; */
}
.pcv{
    text-align: justify;
}
/*especialidades seccion*/

.cv_especialidades_conteiner {
    margin-top: 90px;
    text-align: center;
    font-size: 20px;
}

.cv_especialidades {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.cv_especialidad-card {
    margin: 20px;
    text-align: center;
    background-color: #E6E6E6;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
    padding: 10px;
    width: 230px; 
    height: 260px;/* Ajusta la altura según sea necesario */
    position: relative; /* Para que las imágenes se superpongan */
    overflow: hidden; /* Asegúrate de que no sobresalga nada */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.cv_especialidad-card img {
    width: 60%;
    height: auto;
    position: absolute; /* Posiciona ambas imágenes en el mismo lugar */
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease; /* Para un efecto suave */
}

.cv_especialidad-card .hover {
    opacity: 0; /* Oculta la imagen por defecto */
}

.cv_especialidad-card:hover .default {
    opacity: 0; /* Oculta la imagen por defecto al hacer hover */
}

.cv_especialidad-card:hover .hover {
    opacity: 1; /* Muestra la imagen de hover al hacer hover */
}
.cv_especialidad-card p{
    margin-top: 80%;
}
.cv_especialidad-card:hover{
    background-color: #0B2363;
    color: white;
    transform: scale(1.12);
}

/*Testimonios seccion*/
.cv_t-conteiner{
    margin-top: 90px;
    text-align: center;
    font-size: 20px;
}
.cv-testimonios{
    margin-top: 30px;
    background-color: #F4F4F4;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.cv-testimonios img{
    width: 293px; 
    height: auto;
    margin: 25px;
}
/*mesas seccion*/
.cv-mesas-conteiner{
    margin-top: 90px;
    text-align: center;
    font-size: 20px;
}
.cv-contenido-mesas{
    margin-top: 30px;
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.cv-contenido-mesas img{
    height: 180px;
    width: auto;
}



/*css thiago pizarro*/
.tp-contenedor {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.tp-banner{
    margin-bottom: 200px;
}
.tp-novedades, .tp-comunicados {
    width: 48%;
}
    
.tp-novedades h2, .tp-comunicados h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
    
.tp-slider {
    position: relative;
    width: 100%;
}
    
.tp-item-novedad {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}
    
.tp-item-novedad img {
    max-width: 100%;
    border-radius: 8px;
}
    
.tp-fecha {
    font-weight: bold;
    margin: 10px;
    text-align: left;
    font-size: 30px;
}
    
.tp-descripcion {
    margin-top: 5px;
    color: #555;
    text-align: left;
    font-size: 20px ;
}
.tp-lista-comunicados{
    height: 665px;
    overflow: overlay;
    margin-top: 40px;
}
.tp-comunicados {
    padding-left: 20px;
}
    
.tp-comunicados h2 {
    font-size: 32px;
    margin-bottom: 15px;
}
    
.tp-item-comunicado {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
    
.tp-icono-fecha {
    margin-right: 15px;
}
    
.tp-icono-fecha img {
    width: 50px;
    height: 50px;
}
    
.tp-detalle-comunicado {
    flex: 1;
}
    
.tp-detalle-comunicado h3 {
    font-size: 21px;
    margin: 0;
    font-weight: bold;
}
    
.tp-detalle-comunicado p {
    margin: 5px 0 10px 0;
    color: #555;
    font-size: 19px;
}
    
.tp-fecha-comunicado {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #999;
}
    
.tp-fecha-comunicado img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
    
    
    
.tp-carrusel-empresas-pequeno {
    position: relative;
    width: 100%;
    height: 150px; 
    overflow: hidden;
    margin: auto;
}
    
.tp-carrusel-empresas-pequeno-contenedor {
    display: flex;
    width: calc(100% * 6); 
    animation: desplazamientoPequeno 120s infinite linear; 
}
    
.tp-carrusel-empresas-pequeno-imagen {
    width: 100%;
}
    
.tp-carrusel-empresas-pequeno-imagen img {
    width: 100%;
    height: auto;
}
    
@keyframes desplazamientoPequeno {
    0% {
        transform: translateX(0);
    }
    33.33% {
        transform: translateX(-100%);
    }
    66.66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}



/*DASHBOARD*/
.novedadIconos{
    display: none;
    margin: 20px;
    /* display: flex; */
    flex-direction: row;
}
.agregarIcono{
    width: 46px;
    height: auto;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}
.pagregar{
    position: relative;
    font-size: 17px;
    color: #000;
    margin-left: 8px;
    bottom: -10px;
}
.comunicadoIconos{
    display: none;
    /* display: flex; */
    flex-direction: row;
    position: relative;
    bottom: -241px;
    float: right;
    cursor: pointer;
    margin-right: 25px;
}
.editarcomunicado{
    /* display: none; */
    display: flex;
    flex-direction: row;
}
.editaricono{
    display: none;
    width: 30px;
    height: auto;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}


.cv-contenedorgen{
    display: none;
    max-width: 700px;
    height: auto;
    border: solid 1px black;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    z-index: 1; 
    left: 100px;
    top: 100px;
    /* width: 100%; 
    height: 100%;  */
    overflow: auto; 
    background-color: white;
}
.cv-in{
    width: 560px;
    height: 30px;
}
.cv-btn{
    background-color: #0049AC;
    color: white;
    font-size: 17px;
    border-style: none;
    border-radius: 6px;
    width: 170px;
    height: auto;
    padding: 10px;
    margin-top: 22px;
}
#fondoVentana {
    display: none;  /*Oculto por defecto*/ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 23, 23, 0.362); /* Fondo semitransparente */
    z-index: 999; /* Asegúrate de que esté encima */
    justify-content: center;
    align-items: center;
}


#fondoEmergente{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 23, 23, 0.362); /* Fondo semitransparente */
    z-index: 999; /* Asegúrate de que esté encima */
    justify-content: center;
    align-items: center;
}

    
    
    /* --------------------------------------------------------electronica-------------------------- */















    .LX-electronica-completo {
        position: relative;
        top: -60px;
        background-color: #f4f4f4;
        color: #333;
        line-height: 1.6;
    }
    
    .LX-intro {
        background-image: url('./public/img/electronica/img_electronica21650987hjkn.jpg');
        background-size: cover;
        background-position: center;
        color: white;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .LX-intro h1 {
        font-size: 3em;
        background-color: #1d1d1dc7;
        border-radius: 20px;
        width: 50%;
        text-align: center;
    }
    
    
    .LX-bienvenida{
    background-color: #253335;
    color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: left;
    }
    
    .LX-bienvenida-texto{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .LX-oferta-educativa{
    background-color: #a5a5a5;
    color: #333;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: left;
    }
    
    .LX-oferta-educativa h2 {
        margin-bottom: 10px;
    }
    
    .LX-bienvenida,.LX-oferta-educativa {
        text-align: left;
    }
    
    .LX-bienvenida h2{
        margin-bottom: 10px;
        color: #ffffff;
    }
    
    .LX-bienvenida-imagen{
      width: 300px;
      padding: 20px;
      border-radius: 10px;
      margin-left: 20px;
    }
    
    /* .LX-materias {
        padding: 20px;
    }
    
    .LX-materias h2 {
        margin-bottom: 20px;
        text-align: left;
    }
    
    .LX-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
    
    .LX-card-1 h3,.LX-card-2 h3,.LX-card-3 h3,.LX-card-4 h3 {
        color: #ffffff;
        background-color: #44444498;
        padding: 20px;
        font-size: 400%;
    }
    
    .LX-card-1 ul,.LX-card-2 ul,.LX-card-3 ul,.LX-card-4 ul {
        list-style-type: none;
    }
    
    .LX-card-1 ul li,.LX-card-2 ul li,.LX-card-3 ul li,.LX-card-4 ul li {
        font-weight: bold;
        text-align: left;
        padding: 25px;
        color: #ffffff;
        
    }
    .LX-card-1,.LX-card-background::before,.LX-card-2,.LX-card-background::before,.LX-card-3,.LX-card-background::before,.LX-card-4,.LX-card-background::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .LX-card-1 ul li:last-child,.LX-card-2 ul li:last-child,.LX-card-3 ul li:last-child,.LX-card-4 ul li:last-child {
        border-bottom: none;
    }
    
    .LX-card-1{
        background-image: url('./public/img/electronica/foto1.png');
        background-size: cover;
        width: auto;
        height: 500px;
        position: relative;
    }
    .LX-card-background{
        background-image: url('public/img/electronica/Imagenes/1-Pinza-Chipset.png');
        background-size: cover;
        width: auto;
        height: 500px;
        position: relative;
    }
    
    .LX-card-2,.LX-card-background{
        background-image: url('./public/img/electronica/foto2.jpg');
        background-size: cover;
        width: auto;
        height: 500px;
        position: relative;
    }
    
    .LX-card-3,.LX-card-background{
        background-image: url('./public/img/electronica/foto3.jpg');
        background-size: cover;
        width: auto;
        position: relative;
        height: 500px;
    }
    
    .LX-card-4,.LX-card-background{ 
        background-image: url('./public/img/electronica/banner\ \(3\).jpg');
        background-size: cover;
        width: auto;
        height: 500px;
        position: relative;
    }
     */


    /* ------------------------------------- */

    /* Sección principal */
.LX-materias {
    padding: 20px;
}

.LX-materias h2 {
    margin-bottom: 20px;
    text-align: left;
}

/* Grid para las tarjetas */
.LX-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    gap: 20px; /* Separación entre tarjetas */
}

/* Tarjetas generales */
.LX-card-1, .LX-card-2, .LX-card-3, .LX-card-4 {
    position: relative; /* Para manejar elementos pseudo como ::before */
    background-size: cover; /* Imagen de fondo ajustada */
    background-position: center; /* Centrar la imagen */
    width: 100%; /* Ancho completo del contenedor */
    height: 500px; /* Altura fija */
    overflow: hidden; /* Evita que elementos internos sobresalgan */
    border-radius: 10px; /* Bordes redondeados para estética */
}

/* Sombras superpuestas */
.LX-card-1::before,
.LX-card-2::before,
.LX-card-3::before,
.LX-card-4::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2); /* Sombra ligera */
    z-index: 1; /* Para que el contenido esté encima */
}

/* Fondo específico para cada tarjeta */
.LX-card-1 {
    background-image: url('./public/img/electronica/foto1.png');
}

.LX-card-2 {
    background-image: url('./public/img/electronica/foto2.jpg');
}

.LX-card-3 {
    background-image: url('./public/img/electronica/foto3.jpg');
}

.LX-card-4 {
    background-image: url('./public/img/electronica/banner (3).jpg');
}

/* Estilo del texto dentro de las tarjetas */
.LX-card-text {
    position: relative; /* Para estar sobre ::before */
    z-index: 2; /* Asegura que el texto esté visible */
    color: #ffffff;
    padding: 20px;
    text-align: left;
}

.LX-card-text h3 {
    background-color: rgba(68, 68, 68, 0.6); /* Fondo semitransparente */
    padding: 10px;
    font-size: 1.5rem; /* Tamaño de texto ajustable */
    margin-bottom: 10px;
}

.LX-card-text ul {
    list-style: none; /* Sin viñetas */
    padding: 0;
    margin: 0;
}

.LX-card-text ul li {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0; /* Espaciado entre elementos */
}

/* Último elemento sin borde */
.LX-card-text ul li:last-child {
    border-bottom: none;
}
    
    /* ----------------------------------------------electromecanica------------------------------------ */





    .CV-electromecanica-completo{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -60px;
    }


    .cv-hbody{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .cv-nav{
        /*position: fixed;*/
        overflow: hidden;
        background-color: #E6E6E6;
        width: 1370px;
        height: 65px;
        margin: 40px;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .cv-nav .acv {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;
        border-radius: 10px;
    }
    .acv:hover, .acv:focus{
        background-color: #0B2363;
        color: white;
        border-radius: 10px;
    }
    .cv-cont-descrip{
        margin: 20px 80px 20px 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .cv-cont-descrip .cv-imge{
        width: 550px;
        height: auto;
        margin-left: 50px;
    }
    .cv-cont-descrip .cv-ph{
        margin-top: 10px;
        font-size: 18px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .cv-ph{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-right: 80px;
        text-align: justify;
        
    }
    .cv-hh3{
        margin-top: 0px;
        border-bottom: solid #3482F8 2px;
        width: 250px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .cv-tabla{
        width: 1000px;
        height: auto;
        border: solid black 2px;
        margin-top: 40px;
    }
    #planEstudios-conteiner{
        /* margin-left: 50px; */
        margin: 50px 50px 0px 50px;
    }
    







 
   .cv-supuestoVideo{
       width: 500px;
       height: 285px;
       margin-left: 500px;
       margin-top: 50px;
    }
    .cv-videoypf{
        height: 100%;
        width: 100%;
    }
    
    .av-portadaE{
        display: flex;
        position: relative;
        justify-content: center;
    }
    .av-portadaE img{
        display: block;
        width: 1400px;
        margin: 15px;
    } 
    .av-texto{
        position: absolute;
        top: 50%;
        left: 38%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 20px;
        text-align:start;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }
    .av-alcances h4{
        font-size: 22px;
        text-align:start;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: italic;
        border-bottom: solid 2px #EEE93B;
        padding: 2px;
        width: 14%;
    }
    .av-alcances p{
        font-size: 20px;
        text-align:start;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        padding-top: 10px;
    }
    .av-alcances{
        margin: 45px 100px ;
        padding: 10px;
    }
    .av-imagen{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .av-imagen img{
        display: block;
        width: 1400px;
        margin: 15px;
    } 
    .av-texto-2{
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 17px;
        text-align:start;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    .av-proyectoOpcional{
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 10px;
    }
    .av-proyectoOpcional iframe{
        align-self: center;
        width: 500px;
        height: 300px;
    }
    .av-proyectoOpcional h4{
        font-size: 22px;
        text-align:start;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: italic;
        border-bottom: solid 2px #4A87C1;
        padding: 2px;
        width: 25%;
        margin-left: 15px;
    }
    .av-proyectoGeneral{
        margin: 20px;
        padding: 10px;
    }
    .av-proyectoGeneral h4{
        font-size: 22px;
        text-align:start;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: italic;
        border-bottom: solid 2px #4A87C1;
        padding: 2px;
        width: 26%;
        margin-left: 15px;
    }
    .av-proyectoGeneral p{
        font-size: 20px;
        text-align:start;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        padding-top: 10px;
    }
    .av-proyectos{
        padding: 10px;
    }
    
    /* --------------------------------------------------preguntas frecuentes------------------------------- */











    .preguntas-f{
        position: relative;
        top: -60px;
    }

    
    .av-portada{
        background-image: url("./public/img/preguntasFrecuentes/colegiopendejo.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 350px;
    }
    .av-titulo{
        color: white;
        font-size: 60px;
        text-align:left;
        padding-top: 135px;
        padding-left: 80px;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }
    .av-contenedor{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 60px 0px 0px 60px;
    }
    .av-preguntas{
        display: flex;
        align-items: center;
        width: 90%;
    }
    .av-boton{
        margin: 10px;
        background-color: #335C85;
        border: none;
        height: 40px;
        width: 45px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .av-boton:hover{
        background-color: #F9E770;
    }
    
    .av-pregunta{
        cursor: pointer;
        margin-left: 15px;
        font-size: 22px;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        border-bottom: solid #B0AFAF 3px;
        padding: 10px;
        width: 100%;
    }
    .av-flechaA{
        margin: 6px;
        height: 30px;
        width: 30px;
    }
    .av-respuesta p{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        color: #737373;
        font-size: 22px;
        width: 75%;
        padding-left: 75px;
        margin-top: 20px;
    }
    .av-respuesta{
        display: none;
        height: 0;
        transition: .4s ease all;
    }
    .av-respuesta.activo{
        display: block;
        height: auto;
        opacity: 1;
        transition: .4s ease all;
    }
/* --------------------------------programacion--------------------- */




















/* Fuente y Configuración General */
.btv-programacion-completo {
   position: relative;
   top: -60px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.bt-banner {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./public/img/programacion/Captura\ de\ pantalla_16-10-2024_16257_miro.com.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
  
 
.texto-animado {
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: #ffffff;
    font-size: 80px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
.cursor {
    font-size: 110px;
    /* margin-left: 1px;
    margin-bottom: 6px; */
} 

.bt-navprogramacion {
    background-color: #1A1A1A;
    color: #fff;
    height: 110px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Para ocupar todo el ancho de la pantalla */
}

.bt-navprogramacion ul {
    display: flex;
    justify-content: space-between; /* Espaciado uniforme entre los elementos */
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* El ul también ocupa todo el ancho */
}

.bt-navprogramacion-before{
    display: flex;
    flex-grow: 1; /* Hace que cada li ocupe un espacio equitativo */
    align-items: center;
    justify-content: center;
    height: 45px;
    border-right: 5px solid #333333;
    padding: 0 20px;
    gap: 10px;
}
.bt-navprogramacion-after{
    display: flex;
    flex-grow: 1; /* Hace que cada li ocupe un espacio equitativo */
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border-right: 6px solid #333333;
    height: 60px;
    padding: 0 20px;
    gap: 10px;
}
.bt-navprogramacion-before:hover {
    cursor: pointer;
}
/* Quitar el borde izquierdo del primer elemento */
.bt-navprogramacion li:last-child {
    border-right: none;
}
.bt-iconohtml{
    color: #F24726;
}
.bt-iconojs{
    color: #FEF445;
}
.bt-titulo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.bt-titulo-h2{
    color: #fff;
}
.bt-texto-p{
    color: #fff;
    padding-left: 30px;
}
.bt-etiqueta-titulo{
    font-size: 24px;
    font-weight: bold;
    color: #2D9BF0;
}
.bt-etiqueta{
    font-size: 18px;
    color: #2D9BF0;
}
.bt-texto{
   margin-top: 20px;
    border-left: 3px solid #686565;
    padding: 50px;
    width: 1200px;
    margin-left: 10px;
}
.bt-contenido{
    margin: 20px;
    font-size: 18px;
}
.bt-section{
    padding-top: 40px;
    background-color: #272626;
    height: 500px;
    padding: 60px;
    padding-left: 100px;
}

.bt-alcancetitulo-texto{
    font-size: 18px;
    color: #F26348;
    border-left: 1px solid #686565;
}
.bt-alcancetitulo-texto{
    margin-top: 20px;
    border-left: 3px solid #686565;
    padding: 50px;
    width: 1200px;
    margin-left: 10px;
}
.bt-alcance-abajo{
    display: flex;
    gap: 5px;
}
.bt-puntocoma{
    margin-top: 20px;
    color: #fff;
}
.bt-alcanceobjeto{
    display: flex;
}
.bt-style-none{
    display: none;
}
.bt-alcanceobjeto-titulo{
    color: #88CBFF;
    font-weight: bold;
    font-size: 20px;
}
.bt-etiquetallave{
    color:#FEF445;
    font-size: 24px;
}
.bt-etiquetaigual{
    color: #fff;
}
.bt-plan-padre {
    border-left: 3px #686565 solid;
    padding-left: 50px;
    padding-top: 30px;
}
.bt-textoazul {
    color: #2D9BF0;
    font-size: 18px;
}
.bt-textonaranja {
    color: #F24726;
    font-size: 18px;
}
.bt-titulo-materias {
    display: flex;
    flex-direction: row;
}
.bt-materia {
    padding-left: 50px;
    border-left: #686565 3px solid;
}
.bt-p-materias {
    display: flex;
    flex-direction: row;
}
.bt-materias {
    padding-left: 50px;
    border-left: #686565 3px solid;
}
.bt-textoblanco {
    color: #ffffff;
    font-size: 18px;
}
.bt-li-materia {
    display: flex;
    flex-direction: row;
} 
#bt-planEstudio {
    height: 1100px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.tp-seccion-informacion {
display: flex;
justify-content: space-around;
align-items: center;
background-image: url('./img/centenario.jpg');
background-size: cover;
padding: 20px;
border-radius: 10px;
}

.tp-item-informacion {
text-align: center;
color: white;
}

.tp-icono-informacion {
width: 50px;
height: 50px;
margin-bottom: 10px;
}

.tp-numero-informacion {
font-size: 24px;
font-weight: bold;
margin: 0;
}

.tp-descripcion-informacion {
font-size: 16px;
margin: 0;
}



/* ----------------------------------------------construcciones------------------------------------------------ */













.construcciones-completo{
    position: relative;
    top: -60px;
    margin: 0;
    padding: 0;
    font-family:  Arial, sans-serif;
    box-sizing: border-box;
}


/* Con esto le estoy acomodando y poniendole estilo a la portada */
.si-portada {
    width: 100%;
    height: 200px;
    background-image: url("./public/img/construcciones/vecteezy_architectural-plans-unrolled-on-the-ground-in-a-modern_50133802\ \(1\).jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Aca le estas poniendo estilo a la clase si-titulo */
.si-titulo {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px 100px;
    font-size: 45px;
    border-radius: 20px;
}
/* ACa le estoy poniendo estilo a la clase si-cons */
.si-cons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
}
/* Aca le estoy canbiando el  tamaño de la imagen */
.si-image {
    width: 30%;
    margin-right: 7%;
}
/* Aca le estoy dando estilo al texto */
.si-texto {
    max-width: 500px;
    margin-left: 0;
}

/* h2 {
    font-size: 25px;
    margin-bottom: 5px;
    border-bottom: 2px solid #6666cc;
}

p {
    display: flex;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 10px;
    width: 300px;
}

h3 {
    font-size: 25px;
    margin-bottom: 5px;
} */
/* Aca le estoy dando estilo a la parte de informacion de construcciones */
.si-parte2 {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    background-image: url("./public/img/construcciones/Diseño\ sin\ título.svg");
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-size: cover;
}
/* Esto hace que ambas cajas ocupen el mismo espacio */
.si-lista1, .si-lista2 {
    width: 46%;
}
.si-lista1 {
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 17px;
    width: 38%;
}
/* Sirve para aplicar un margen inferior de 10 píxeles a los elementos de lista (li) */
.si-lista2 ul li {
    margin-bottom: 10px;
    font-size: 20px;
}






 /* Estilos generales para la parte de abajo, reset básico y fuente */
.si-parte_de_abajo_construcciones{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Sección principal con flexbox, dirección en columna y fondo gris */
.si-section-40-construcciones{
    display: flex;
    flex-direction: column;
    background-color: #d1d2d4;
}

/* Estilo para el subtítulo en la sección, centrado y con padding */
.si-subtitulo-construcciones{
    margin: auto;
    padding: 30px;
    text-align: center;
    font-size: 30px;
}

/* Contenedor que agrupa artículos (elementos) con flexbox, alineados en fila */
.si-article-60-construcciones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #d1d2d4;
    margin-bottom: 50px;
    margin-top: 40px;
}

/* Contenedor para la lista desordenada con borde, fondo gris y padding */
.si-contenedor-lista-desordenada-funciones{
    background-color: #fff;
    border-radius: 0px;
    padding: 0px;
    max-width: 500px;
    border-left: 4px solid #0044cc;  
    padding-left: 0px;
    background-color: #d1d2d4;
}

/* Lista desordenada con estilo tipo disco */
.si-lista-desordenada-construcciones-funciones {
    list-style-type: disc;
    margin: 0px;
    padding-left: 19px;
}

/* Elementos de la lista con margen inferior y formato de texto */
.si-lista-desordenada-construcciones-funciones li{
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    padding-left: 0px;
    margin-left: 0px;
}

/* Sección inferior con texto centrado */
.si-section-60-construcciones {
    text-align: center;
    padding: 20px;
}

/* Efecto visual para una imagen de fondo oscuro con grid */
.si-efecto-img {
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 900px;
    display: grid;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    align-content: space-between;
    position: relative;
    grid-template-columns: 45% 45%; /* Dos columnas de 45% */
    grid-template-rows: 400px 400px; /* Dos filas de 400px */
    justify-items: center;
}

/* Contenedor principal con imagen de fondo */
.si-img-flex {
    background-image: url(https://http2.mlstatic.com/D_NQ_NP_2X_852353-MLA53252531736_012023-F.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 100%;
    height: 900px;
}

/* Imagen dentro del contenedor funcional */
.si-img-fn {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Texto para las imágenes, centrado y con fondo azul */
.si-texto-fn {
    background-color: #0044cc;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    width: 100%;
    border-radius: 5px;
    margin: 0;
    display: block;
}

/* Contenedor padre para un efecto con posición relativa */
.si-contenedor-padre-efecto{
    position: relative;
}

/* Contenedor funcional para el efecto, centrado y con transformaciones */
.si-contenedor-para-efecto{
    position: absolute;
    width: 250px;
    height: 320px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Tarjeta interactiva con efecto 3D */
.si-tarjeta{
    position: relative;
    top: 0;
    left: 0;
    width: 390px;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

/* Rotación de la tarjeta al pasar el mouse por encima */
.si-tarjeta:hover{
    transform: rotateY(180deg);
}

/* Cara frontal de la tarjeta, oculta la cara posterior */
.si-contenedor-funcional-front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden; /* Evita que se vea al rotar */
    overflow: hidden;
    background: rgb(0, 0, 0,0.5);
    color: #000;
}

/* Cara posterior de la tarjeta, visible al rotar */
.si-contenedor-funcional-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: rgb(0, 0, 0,0.5);
    color: #ffffff;
    text-align: center;
    transform: rotateY(180deg);
}

/* Contenedor de la lista dentro de la tarjeta posterior */
.si-contenedor-funcional-back ul{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Elementos de la lista con padding y tamaño de fuente */
.si-contenedor-funcional-back li{
    padding: 5px;
    font-size: 18px;
}

/* Encabezado dentro de la tarjeta posterior */
.si-contenedor-funcional-back h4{
    padding: 10px;
    font-size: 30px;
}

/*-----------------------------------------------------------administracion------------------------------------  */


















.administracion-completo {
    position: relative;
    top: -60px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}

/* Estilos generales para la parte superior del admin, reset básico y fuente */
.admin-parte-arriba {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Imagen de fondo para el logo en la parte superior */
.admin-logo {
    background-image: url("https://gestion.pe/resizer/WLP5Xjp-CqafaEvYqBbhgeo37vI=/980x0/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/JZXU4IFZEJH67P6Z4FTKXBWDWQ.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    padding: 0;
}

/* Efecto de sombreado y posicionamiento para el logo del admin */
.efecto-admin-logo {
    background-color: rgba(0, 20, 40, 0.4); /* Usar rgba para transparencia */
    display: flex; /* Utilizado para centrar el contenido */
}

/* Estilos para el subtítulo dentro del logo */
.subtitulo-logo {
    color: #fff;
    font-size: 75px;
    margin: auto;
    padding: 70px;
    border: none;
}

/* Contenedor de la sección de administración, centrado */
.section-admin-20 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #fff;
    height: auto;
    padding: 40px;
    padding-bottom: 20px;
}

/* Estilos para los subtítulos generales en el admin */
.subtitulos-admin {
    font-size: 30px;
    border: none;
}

/* Texto de información general dentro del admin */
.texto-admin-info {
    margin: 10px 30px;
    font-size: 17px;
    height: auto;
    width: auto;
}

/* Línea divisoria horizontal para separar secciones */
.linea-divisoria-admin {
    width: 80%;
    height: 3px;
    background-color: #004aad;
    margin: 20px auto;
    border: none;
}

/* Línea divisoria más pequeña, usada como marcador o separación en otro contexto */
.linea-divisoria-small {
    width: 18%;
    height: 18px;
    background-color: #004aad;
    margin: 10px 3%;
    align-self: flex-start;
    border: none;
}

/* Sección para la distribución de las tarjetas (elementos visuales) con un grid */
.section-admin-40 {
    display: grid;
    margin: 35px;
    grid-template-rows: repeat(2, 400px);
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(8, 1fr);
    height: auto;
    background-color: #fff;
    padding: 0px;
}

/* Primera tarjeta (tarjeta de PDE) ocupando varias columnas y una fila */
.tarjetas-admin-pde {
    grid-column: 1 / 4; /* Simplificación */
    grid-row: 1 / 2;
    background: url("https://img.freepik.com/fotos-premium/seccion-media-mujer-negocios-trabajando-grafico-mientras-usa-computadora-portatil_1048944-26460907.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Segunda tarjeta (tarjeta de OBJ) */
.tarjetas-admin-obj {
    grid-column: 4 / 9;
    grid-row: 1 / 2;
    background: url("https://noticias.uai.edu.ar/media/104712/dream_tapa2.jpg");
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.tarjetas-admin-h:hover{
    transform: scale(1.03); /* Agranda la imagen */
}

/* Tercera tarjeta (tarjeta de SL) */
.tarjetas-admin-sl {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    background: url("https://images.ctfassets.net/9pvazpst9iwl/PwIXWbgahW12hT4n6Gfmb/25402f1dd58ff6de08b74a26e58949c2/contrato_20de_20trabajo.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Cuarta tarjeta (tarjeta de EST) */
.tarjetas-admin-est {
    grid-column: 5 / 9;
    grid-row: 2 / 3;
    background: url("https://img.freepik.com/fotos-premium/asignaciones-hogar-listas-ser-hechas-muestra-coleccion-tareas-hogar-ordenadamente-dispuestas-listas-su-finalizacion-que-transmiten-sensacion-preparacion-organizacion_1102000-23277.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Estilo del subtítulo dentro de las tarjetas */
.subtitulo-tarjetas-admin {
    text-align: center;
    font-size: 50px;
    color: #fff;
}

/* Otra sección con flexbox, utilizada para organizar textos o listas */
.section-admin-60 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #fff;
    padding: 0;
    height: auto;
    width: 100%;
}

/* Lista desordenada dentro de la sección de administración */
.lista-desordenada-admin {
    margin: 20px;
    width: 90%;
    position: relative;
    padding: 15px 10px 10px 30px;
}

.esquina-derecha{
    padding: 10px;
}

.lista-desordenada-admin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px; /* Grosor del borde vertical */
    height: 50px; /* Largo del borde vertical */
    background-color: #004aad; /* Color del borde */
}

.lista-desordenada-admin::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px; /* Largo del borde horizontal */
    height: 4px; /* Grosor del borde horizontal */
    background-color: #004aad; /* Color del borde */
}

.lista-desordenada-admin .esquina-derecha::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4px; /* Grosor del borde vertical */
    height: 50px; /* Largo del borde vertical */
    background-color: #004aad; /* Color del borde */
}

.lista-desordenada-admin .esquina-derecha::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px; /* Largo del borde horizontal */
    height: 4px; /* Grosor del borde horizontal */
    background-color: #004aad; /* Color del borde */
}

.lista-desordenada-admin-20 {
    margin: 20px;
    width: 90%;
    margin-left: 60px;
}

.lista-desordenada-admin-30 {
    margin: 20px;
    width: 90%;
    margin-left: 80px;
    margin-top: 0px;
}

.lista-desordenada-admin-40 {
    margin: 20px;
    width: 90%;
    margin-left: 110px;
    margin-top: 0px;
}

.item-lista-des-admin{
    margin: 9px;
}

.item-des-20-admin{
    width: auto;
}


/* Caja de texto con fondo gris */
.caja-texto-admin {
    background-color: #cfcfcf;
    margin: 10px 2% 5px 3px;
}

.caja-texto-admin-10 {
    background-color: #cfcfcf;
    margin: 10px 2% 5px 3px;
    width: fit-content;
}



/* Texto dentro de la caja */
.texto-admin {
    color: #000;
    font-size: 17px;
    width: 100%;
    margin: 0;
}

.texto-admin-10 {
    color: #000;
    font-size: 17px;
    width: 100%;
    margin: 0;
    width: auto;
}

/* Estilos adicionales */
.si-tecnicatura {
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    font-size: 17px;
}

.linea-divisoriaa-admin {
    width: 18%;
    height: 18px;
    background-color: #004aad;
    margin: 10px 3%;
    align-self: flex-start;
    border: none;
}

/* h2 {
    color: black;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 3px solid #0056b3;
    padding-bottom: 10px;
    font-size: 30px;
} */

.si-laboral {
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    font-size: 17px;
}

/* p {
    margin-bottom: 30px;
    padding: 17px;
    font-size: 19px;
    justify-content: flex-start;
} */

/* li {
    font-size: 19px;
} */

/* ul {
    margin-left: 20px;
    margin-bottom: 20px;
} */

/* ul li {
    margin-bottom: 10px;
} */

.titulo {
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 3px solid #0056b3;
    padding-bottom: 12px;
}

.caja-tabla-admin {
    display: flex;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

.tabla-th-admin, .tabla-td-admin {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.tabla-th-admin {
    background-color: lightgray;
}

.tabla-td-admin {
    height: 50px;
}

.si-lista-4to, .si-lista-6to, .si-lista-5to, .si-lista-7to {
    text-align: left;
}

/* span {
    display: block;
    background-color: #d3d3d3;
    margin-bottom: 20px;
    padding: 10px;
    width: fit-content;
} */

.imagen-admin-texto{
    width: 60px; /* Ajusta el tamaño */
    height: auto; /* Mantiene la proporción */
    transform: rotate(180deg); /* Gira la imagen 180 grados */
}

.imagen1 {
    float: right;
    width: 60px; /* Ajusta el tamaño */
    height: auto; /* Mantiene la proporción */
}

/* -----------------------------------------------------taller----------------------- */



















 .taller-completo{
    position: relative;
    top: -60px;
 }


.taller {
    position: relative;
    height: 500px;
    margin-bottom: 50px;
    overflow: hidden;
}

.filtro {
    background-color: rgba(0, 0, 0, 0.48);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.taller-titulo {
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    font-weight: bold;
    font-size: 48px;
    opacity: 1; 
    font-family: roboto;
}

.img-electricidad, .img-carpinteria, .img-electronica, .img-metales, .img-construcciones, .img-herreria {
    position: absolute;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover; 
}

.texto-talleres {
    background-color: #0B2363;
    position: absolute;
    z-index: 3;
    width: 98%;
    height: 100%;
    top: 100%; 
    transition: transform 0.9s ease-in-out; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 37px;
}

.taller:hover .texto-talleres {
    transform: translateY(-100%); 
}


.taller-electricidad .texto-talleres {
    background-color: #0B2363; 
}
.taller-carpinteria .texto-talleres {
    background-color: white; 
}

.taller-electronica .texto-talleres {
    background-color: #0B2363; 
}

.taller-metales .texto-talleres {
    background-color: white; 
}

.taller-construcciones .texto-talleres {
    background-color: #0B2363; 
}

.taller-herreria .texto-talleres {
    background-color: white; 
}
.texto-electricidad{
    color:white ;
    font-family: Roboto ;
}
.texto-carpinteria{
    color: black;
    font-family: Roboto ;
}
.texto-electronica{
    color: white;
    font-family: Roboto ;
}
.texto-metales{
    color: black;
    font-family: Roboto ;
}
.texto-construcciones{
    color: white;
    font-family: Roboto ;
}
.texto-herreria{
    color: black;
    font-family: Roboto ;
}


/* ----------------------------------------------------footer-------------------------------------------------- */

















footer{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-image: url('./public/img/footer/Fondo-Footer.png');
    color: #fff;
    height: 230px;
}

.colegio-logo img{
    width: 150px;
    height: 150px;
    margin-top: 40px;
    margin-left: 75px;
}

.especialidades {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Open Sans', sans-serif;
}

.especialidades p{
    margin-bottom: 10px;
    cursor:pointer;

}

.redes_div{
    display: flex;
    flex-flow: column ;
    margin: 7px;
    justify-content: space-between;
}

.redes-1,.redes-2,.redes-3,.redes-4,.redes-5{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-right: 30px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.redes_div .redes-1 img,.redes_div .redes-2 img,.redes_div .redes-3 img,.redes_div .redes-4 img,.redes_div .redes-5 img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.redes-1 a,.redes-2 a, .redes-5 a, .especialidades a{
    text-decoration: none;
    color: #fff
}

.redes-1 a:hover,.redes-2 a:hover, .redes-5 a:hover, .especialidades a:hover{
    text-decoration: underline;
}

.display-none{
    display: none;
}

.si-podio{
    position: relative;
    top: -60px;
    /* margin-top: 30px;
    margin-left: 525px; */
    background-color: #1A1A1A;
    width: 100%;
    height: 100%;


}
.si-imagee{
    margin-left: 600px;
    width: 760px;
    height: auto;
}






